.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 3em;
}

.col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 3em;
}